body {
    font-family: 'tahoma', serif;
    background-color: black;
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.4s, color 0.4s;
    padding-top: 30px; /* Added padding to create space above the container */
    padding-bottom: 30px;
    transition: background-color 0.4s, color 0.4s;
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: black;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s, transform 0.4s;
    transform: translateY(-20px);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid purple;
    transition: transform 0.4s;
}

.profile-picture:hover {
    transform: scale(1.1);
}

h1 {
    margin: 0;
    font-size: 24px;
    color: rgb(180, 0, 180);
    transition: color 0.4s;
}

.bio {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 20px;
    transition: color 0.4s;
}

.social-icons {
    margin: 15px 0;
}

.icon {
    color: purple;
    font-size: 30px;
    margin: 0 10px;
    transition: color 0.3s;
}

.icon:hover {
    color: rgb(211, 133, 211);
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    background-color: rgb(211, 133, 211);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px 15px;
    margin: 5px 0;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s, border 0.3s;
    border: 3px solid transparent; /* Start with a transparent border */
}

.link:hover {
    background-color: purple;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    border: 3px solid rgb(211, 133, 211); /* Border becomes visible on hover */
}
